h {
  font-size: larger;
  font-weight: bold;
  color: blue;
}
.heading {
  color: rebeccapurple;
  font-weight: bold;
  font-style: normal;
}
img {
  float: left;
}
body {
  background-color: skyblue;
}
